*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.main{
	height:600px;
	width:600px;
	background-color:orange;
	margin:0 auto;
	position:relative;
}
.box{
	height:150px;
	width:150px;
	background-color:red;
	position:absolute;
	
}
.box1{
	top:20px;
	left:20px;
}
.box2{
	top:20px;
	left:50%;
	transform:translateX(-50%)
}


.box3{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	
}